<%= form_for(song) do |f| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

  <label class="col-lg-2 control-label">Genres</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="1" value="option1" checked="">
            Pop
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="2" value="option2">
            Rock
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="3" value="option2">
            Cumbia
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="4" value="option2">
            Reggaeton
          </label>
        </div>
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
